<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="Log4EventHubAppender"
               type="Log4EventHub.Log4EventHubAppender, Log4EventHub">
    <connectionString value="Endpoint=sb://tcfeusd-eh-log4eventhub-ns.servicebus.windows.net/;SharedAccessKeyName=test-appender;SharedAccessKey=MFfWR2/4CowGzCwBwfdZ5DIi3tLkbUPo87x59x8CQZ0=/" />
    <eventHubName value="tcfeusd-eh-log4eventhub" />
    <applicationName value="test-appender" />
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="TraceAppender" />
    <appender-ref ref="Log4EventHubAppender" />
  </root>
</log4net>