<?xml version="1.0" encoding="utf-8" ?>
<log4net>
  <appender name="TraceAppender" type="log4net.Appender.TraceAppender">
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
    </layout>
  </appender>
  <appender name="Log4EventHubAppender"
               type="Log4EventHub.Log4EventHubAppender, Log4EventHub">
    <connectionString value="Endpoint=sb://tcfeusb-sb-test.servicebus.windows.net/;SharedAccessKeyName=test_sb;SharedAccessKey=q/1dMhGTlnoo40LzwLjzi1AtsaAaOM4vko9wGoIsd7k=" />
    <eventHubName value="tcfeusb-eh-test" />
    <applicationName value="test_sb" />
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="TraceAppender" />
    <appender-ref ref="Log4EventHubAppender" />
  </root>
</log4net>